:root {
    --sans: 'Figtree', system-ui, sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
}



body {
    margin: 0;
    font-family: 'Figtree', system-ui, sans-serif;
}

